@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: theme("colors.background.light");
  --foreground: theme("colors.foreground.light");
  --icon-color: theme("colors.neutral.900");
  --primary: theme("colors.primary.DEFAULT");
  --primary-hover: theme("colors.primary.hover");
  --accent-first: theme("colors.accent.first");
  --accent-second: theme("colors.accent.second");
  --accent-third: theme("colors.accent.third");
}

:root.dark {
  --background: theme("colors.background.dark");
  --foreground: theme("colors.foreground.dark");
  --icon-color: theme("colors.neutral.100");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-Regular-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
