.skill__skills {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.skill__skillInstruction {
  text-align: center;
  padding: 5px;
  font-size: 12px !important;
  color: gray;
}

.skill__infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted #5743db;
  padding: 30px;
  margin: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=45, Color=#696969)"; /*IE 8*/
  -moz-box-shadow: -8px 8px 5px -5px #b9b4b4 inset; /*FF 3.5+*/
  -webkit-box-shadow: -8px 8px 5px -5px #b9b4b4 inset; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: -8px 8px 5px -5px #b9b4b4 inset; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#696969); /*IE 5.5-7*/
}

.skill__infoBox--inactive {
  border: 2px dotted #5743db;
  color: gray;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=45, Color=#696969)"; /*IE 8*/
  -moz-box-shadow: -8px 8px 5px -5px #b9b4b4 inset; /*FF 3.5+*/
  -webkit-box-shadow: -8px 8px 5px -5px #b9b4b4 inset; /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: -8px 8px 5px -5px #b9b4b4 inset; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#696969); /*IE 5.5-7*/
  text-align: center;
}

.skill__skillLogo {
  height: 50px;
  object-fit: contain;
  cursor: -webkit-grabbing;
  transition: transform 100ms ease-in;
}

.skill__skillLogo:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .skill__infoBox,
  .skill__infoBox--inactive,
  .skill__infoBox {
    display: none;
  }
  .skill__skillLogo {
    height: 75px;
    margin: 15px;
  }
}
